* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #24308F;
  --number-block-color: #8F2430;
  --number-highlight-color: #308F24;
}

#sort-algorithm-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  margin: 1rem auto;
  width: 700px;
  background-color: var(--background-color);
}

#numbers-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.number-blocks {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50px;
  font-size: 2rem;
  background-color: var(--number-block-color);
  color: whitesmoke;
}

.transform-transition {
  transition: transform 0.5s ease-in;
}

.highlight-blocks {
  border: 5px solid var(--number-highlight-color);
}

#bubble-sort-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.algo-btns {
  height: 2rem;
  width: 7rem;
  font-size: 1.2rem;
  transition: scale 0.1s ease-in;
  cursor: pointer;
}

.algo-btns:hover {
  scale: 1.1;
}